<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAPS_FILE</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tinnt.listener.MyServletListener</listener-class>
    </listener>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>tinnt.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tinnt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>tinnt.controller.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>tinnt.controller.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <servlet-class>tinnt.controller.DeleteRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <url-pattern>/DeleteRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tinnt.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveItemsFromCartServlet</servlet-name>
        <servlet-class>tinnt.controller.RemoveItemsFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveItemsFromCartServlet</servlet-name>
        <url-pattern>/RemoveItemsFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchLastNameServlet</servlet-name>
        <servlet-class>tinnt.controller.SearchLastNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchLastNameServlet</servlet-name>
        <url-pattern>/SearchLastNameServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartTimeServlet</servlet-name>
        <servlet-class>tinnt.controller.StartTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartTimeServlet</servlet-name>
        <url-pattern>/StartTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePassRoleServlet</servlet-name>
        <servlet-class>tinnt.controller.UpdatePassRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassRoleServlet</servlet-name>
        <url-pattern>/UpdatePassRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>tinnt.controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>loginDDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
